	@charset "utf-8";
/*---CSS Document---*/

@import url("reset.css");


@font-face {
    font-family: 'BebasNeueRegular';
    src: url('../font/bebasneue-webfont.eot');
    src: url('../font/bebasneue-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/bebasneue-webfont.wofff') format('woff'),
         url('../font/bebasneue-webfont.ttf') format('truetype'),
         url('../font/bebasneue-webfont.svg#BebasNeueRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'HelveticaNeueRegular';
    src: url('../font/helveticaneue-roman-webfont.eot');
    src: url('../font/helveticaneue-roman-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/helveticaneue-roman-webfont.woff') format('woff'),
         url('../font/helveticaneue-roman-webfont.ttf') format('truetype'),
         url('../font/helveticaneue-roman-webfont.svg#HelveticaNeueRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/*---Overall---*/

html, body {
  height:100%;
  border:0px;
  margin: 0px;
  padding: 0px;
  background:url("../images/background_pattern.jpg");
  font-family:Arial, Helvetica, sans-serif;
  font-size:13px;
  font-weight:normal;
  text-align:justify;
  color:#272727;
  line-height:24px;
  hyphens:none;  
  font-smooth:always;
  -webkit-font-smoothing:antialiased;
  /*text-shadow:0 1px 1px rgba(0,0,0,.8);*/
}

p{
  margin:0;
  text-align:justify;
  padding:10px 25px 0px 25px;
}

h1{
  font-family: Arial, Helvetica, sans-serif;
  font-size:25px;
  font-weight:bold;
  line-height:45px;
  color:#0ca85d;
  padding:25px 0px 0px 25px;
  margin:0;
}

h2{
  font-family: Arial, Helvetica, sans-serif;
  font-size:40px;
  font-weight: bold;
  line-height:50px;
  color:#272727;
  margin:0;
  padding:25px 0px 0px 25px;
}

h3{
  font-family: Arial, Helvetica, sans-serif;
  font-size:16px;
  font-weight: bold;
  line-height:24px;
  color:#272727;
  margin:0;
}

h4{
  font-family: Arial, Helvetica, sans-serif;
  font-size:25px;
  font-weight:bold;
  line-height:50px;
  color:#0ca85d;
  margin:0;
  padding:25px 0px 0px 25px;
}

h5 {
  font-family: Arial, Helvetica, sans-serif;
  font-size:16px;
  font-weight:bold;
  color:#272727;
  line-height:20px;
  text-align:left;
  margin:0;
}

h6 {
  font-family: Arial, Helvetica, sans-serif;
  font-size:14px;
  font-weight:bold;
  color:#272727;
  line-height:20px;
  text-align:left;
  display:inline-block;
  margin:0;
}

.top_bar {
  background:url("../images/bar_red.jpg") repeat-x;
  width:auto;
  height:auto;
}

.nav_bar {
  background:url("../images/bar_nav.png") repeat-x;
  width:100%;
  height:53px;
}

.breadcrumb {
  background:#c8c8c8;
  width:100%;
  height:25px;
  border-top:1px solid #ffffff;
}

#breadcrumb {
  font-size:12px;
  font-weight:normal;
  padding-left:20px;
}

.wrapper{
  width:1000px; 
  margin:0 auto;
}

.content {
  width:100%;
  height: auto !important;
  min-height: 100%;
  height: 100%;
  position: relative;
  top:0px;
  bottom:0px;
}

.content_area_white {
  width:100%;
  height:auto;
  background:#ffffff;
  border-bottom:1px solid #b2b2b2;
}

.content_area_btm {
  width:100%;
  height:auto;
  padding-bottom:52px;
}

.page_divider{
  background:url("../images/middle_bar.jpg") repeat-x;
  width:100%;
  height:10px;
  border-bottom:1px solid #b2b2b2;
}

/*---Main Menu---*/

#maincurrent{
  text-decoration:none;
  width:138px;
  height:50px;
  display:block;
  font-size:16px;
  color:#f02328;
  background:url("../images/arrow_hoveractive.png") center top no-repeat;
}

.mainmenu{
  border:none;
  margin:0px;
  font-family:Arial, Helvetica, sans-serif;
  height:50px;
  width:1000px;
  padding:2px 0px 0px 0px;
}

.mainmenu ul{
  list-style:none;
  margin:0;
  padding:0;
}

.mainmenu ul li{
  float:right;
  width:138px;
  height:50px;
  text-align:center;
  border-right:1px solid #c8c8c8;
}
		
.mainmenu ul li a{
  background:none;
  font-weight:bold;
  padding:0;
  margin:auto;
  width:138px;
  height:50px;
  text-decoration:none;
  line-height:52px;
  font-size:16px;
  color:#a1a1a1;
  text-shadow:0 1px 1px rgba(255,255,255,1);
  display:block;
}
	
.mainmenu ul li:hover a{
  text-decoration:none;
  width:auto;
  height:50px;
  display:block;
  font-size:16px;
  background:url("../images/arrow_hoveractive.png") center top no-repeat;
}
		
.mainmenu ul li ul{
  display:none;
  margin:1px 0px 0px 0px;
  padding:0;
  border:0;
  width:330px;
  height:auto;
  background-color:#e1dfdf;
  position:absolute;
  z-index:999;
  /*top:1em;
  /*left:0;*/
}

.mainmenu ul li:hover ul{
  display:block;
}
			
.mainmenu ul li ul li {
  border:0;
  margin:0px;
  padding:0px;
  display:block;
  width:330px;
  height:35px;
  display:block;
  text-align:left;
  text-decoration:none;
  vertical-align:middle;
}
		
.mainmenu ul li:hover ul li a{
  background:none;
}
		
.mainmenu ul li ul a{
  display:block;
  margin:0px;
  width:330px;
  font-size:16px;
  font-style:normal;
  line-height:35px;
  color:#272727;
  padding:0px 10px 0px 10px;
}
					
.mainmenu ul li ul a:hover,{
  border:0px;
  text-decoration:none;
}
					
.mainmenu ul li ul li:hover a{
  border:0px;
  width:310px;
  height:35px;
  text-decoration:none;
  color:#ffffff;
  background:#f02328;
  text-shadow:none;
}

/*---Main Menu End---*/

/*---Footer Menu---*/

.footer{
  width:100%;
  height:42px;
  background:url("../images/bar_footer.png") repeat-x;
  position:absolute;
  bottom:0;
  left:0;
  padding-bottom:10px;
  clear: both;
}

.footer_menu{
  height:auto;
  width:700px;
  font-size:12px;
  float:left;
  padding:0px 0px 0px 25px;
  margin-top:15px;
}
	
.footer_menu ul{
  margin: 0;
  padding: 0;
  list-style-type: none;
  position:relative;
  float:left;
}
	
.footer_menu ul li {
  float:left;
  display:inline-block;
  padding:0px 30px 0px 0px;
  font-size:12px;
  line-height:12px;
  width:auto;
}
	
.footer_menu ul li a{
  color:#646464;
  text-decoration:none;
}
	
.footer_menu ul li a:hover{
  color:#f02328;
  text-decoration:none;
}	
		
.footer_menu li ul{
  display:none;
  height:0;
  padding-top:0px;
  margin:0px;
  border:0px;
  position:absolute;
  z-index:200;
}
	
.footer_menu li:hover ul{
  display:block;
}
	
.footer_menu li li {
  margin:0px;
  padding:10px 0px 0px 0px;
  color:#646464;
}
		
.footer_menu li:hover li a{
  background:none;
  margin:0px;
}	
	
.footer_menu li ul a{
  float:left;
  margin:0px;
}
		
.footer_menu li ul a:hover, .mainmenu li ul li:hover a{
  border:0px;
  color:#f02328;
  text-decoration:none;
}
						
.copyright{
  float:right;
  color:#646464;
  font-size:12px;
  line-height:12px;
  height:12px;
  width:200px;
  padding:0px 25px 0px 0px;
  margin-top:15px;
}						
	
/*---Footer Menu End---*/

/*---Simple SlideShow---*/
ul.ppt {
	position: relative;
}

.ppt li {
	list-style-type: none;
	position: absolute;
	top: 0;
	left: 0;
}

.ppt img {
	border: 1px solid #e7e7e7;
	padding: 5px;
	background-color: #0ca85d;
}

/*---Simple SlideShow End---*/

.social_icon_1 {
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent url('../images/facebook.png') no-repeat center bottom;
  text-indent: -1000em;
  cursor: pointer; /* hand-shaped cursor */
  cursor: hand; /* for IE 5.x */
  display:inline-block;
  width:34px;
  height:32px;
}

.social_icon_1:hover {
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent url('../images/facebook_hoover.png') no-repeat center bottom;
  text-indent: -1000em;
  cursor: pointer; /* hand-shaped cursor */
  cursor: hand; /* for IE 5.x */
  display:inline-block;
  width:34px;
  height:32px;
}

.social_icon_2 {
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent url('../images/tweeter.png') no-repeat center bottom;
  text-indent: -1000em;
  cursor: pointer; /* hand-shaped cursor */
  cursor: hand; /* for IE 5.x */
  display:inline-block;
  width:34px;
  height:32px;
}

.social_icon_2:hover {
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent url('../images/tweeter_hoover.png') no-repeat center bottom;
  text-indent: -1000em;
  cursor: pointer; /* hand-shaped cursor */
  cursor: hand; /* for IE 5.x */
  display:inline-block;
  width:34px;
  height:32px;
}

.view_map {
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent url('../images/view_map_btn.png') no-repeat center bottom;
  text-indent: -1000em;
  cursor: pointer; /* hand-shaped cursor */
  cursor: hand; /* for IE 5.x */
  display:inline-block;
  width:180px;
  height:80px;
}

.view_map:hover {
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent url('../images/view_map_btn_hover.png') no-repeat center bottom;
  text-indent: -1000em;
  cursor: pointer; /* hand-shaped cursor */
  cursor: hand; /* for IE 5.x */
  display:inline-block;
  width:180px;
  height:80px;
}

.submit {
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent url('../images/submit_btn.png') no-repeat center bottom;
  text-indent: -1000em;
  cursor: pointer; /* hand-shaped cursor */
  cursor: hand; /* for IE 5.x */
  display:inline-block;
  width:180px;
  height:80px;
}

.submit:hover {
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent url('../images/submit_btn_hover.png') no-repeat center bottom;
  text-indent: -1000em;
  cursor: pointer; /* hand-shaped cursor */
  cursor: hand; /* for IE 5.x */
  display:inline-block;
  width:180px;
  height:80px;
}





